{% extends 'table_responsive.html.twig' %}

{% block title %}Audit Log{% endblock %}
{% block pageheader %}Audit Log{% endblock %}

{% block thead %}
    <tr>
        <th>Date</th>
        <th>Field Name</th>
        <th>Changed From</th>
        <th>Changed To</th>
        <th>Environment ID</th>
        <th>Rollback</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for entry in entries %}
        <tr>
            <td>{{ entry.getCreated()|date('Y-m-d h:m') }}</td>
            <td>{{ entry.getFieldName() }}</td>
            <td>{{ entry.getChangedFrom() }}</td>
            <td>{{ entry.getChangedTo() }}</td>
            <td>{{ entry.getEnvironmentId() }}</td>
            <td>
                {% if entry.getRollBacked() == false %}
                    <a href="{{ path('environment_revert', {'audit_id': entry.getId()}) }}">
                        <i class="fa fa-undo"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}