{% extends 'table_responsive.html.twig' %}

{% block title %}Workers{% endblock %}
{% block pageheader %}Workers{% endblock %}

{% block thead %}
    <tr>
        {% for name in columns_names %}
            <th>{{ name }}</th>
        {% endfor %}
    </tr>
{% endblock %}

{% block tbody %}
    {% for result in env_results %}
        <tr>
            {% for key,value in result|to_array %}
                {% if key == 'environment' %}
                    <td>
                        <a href="{{ path('environment_show', {'environment_id': value.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
                    </td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}