{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">

        {% block nav %}
            {{ include('navigation.html.twig') }}
        {% endblock %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% block page_content %}{% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    {# wrapper #}
{% endblock %}

{% block stylesheets %}
    {{ include('stylesheets.html.twig') }}
{% endblock %}


{% block javascripts %}
    {{ include('javascripts.html.twig') }}
{% endblock %}