<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('homepage') }}">Elyotech Test</a>
    </div>
    <!-- navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ path('login') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- dropdown-user -->
        </li>
        <!-- dropdown -->
    </ul>
    <!-- navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ path('environment') }}"><i class="fa fa-cogs fa-fw"></i> Environment</a>
                </li>
                <li>
                    <a href="{{ path('worker') }}"><i class="fa fa-user fa-fw"></i> Workers</a>
                </li>
                <li>
                    <a href="{{ path('audit_log') }}"><i class="fa fa-list fa-fw"></i> Audit Log</a>
                </li>
            </ul>
        </div>
        <!-- sidebar-collapse -->
    </div>
    <!-- navbar-static-side -->
</nav>