<!-- Bootstrap Core CSS -->
<link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="{{ asset('bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

<!-- Timeline CSS -->
<link href="{{ asset('dist/css/timeline.css') }}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ asset('dist/css/sb-admin-2.css') }}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{{ asset('bower_components/morrisjs/morris.css') }}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">