{% extends 'blank.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-12">

            <h1 class="page-header">{% block pageheader %}{% endblock %}</h1>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    {% block thead %}{% endblock %}
                    </thead>
                    <tbody>
                    {% block tbody %}{% endblock %}
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}