{% extends 'blank.html.twig' %}

{% block title %}Edit Environment{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header">Edit Environment</h1>

            {% if message %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endif %}

            <form class="form-horizontal" role="form" method="post" action="{{ path('environment_edit') }}">

                {% for key,value in env_object|to_array %}
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email">{{ key }}:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"
                                   name="{{ key }}" value="{{ value }}"
                                    {%  if key == 'id' %} readonly {% endif %}>
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}