{% extends 'table_responsive.html.twig' %}

{% block title %}Environment{% endblock %}
{% block pageheader %}Environment{% endblock %}

{% block thead %}
    <tr>
    <th>Edit</th>
    {% for name in columns_names %}
        <th>{{ name }}</th>
    {% endfor %}
    </tr>
{% endblock %}

{% block tbody %}
    {% for result in env_results %}
        <tr>
            <td>
                <a href="{{ path('environment_show', {'environment_id': result.id}) }}"><i class="fa fa-pencil-square-o"></i></a>
            </td>
            {% for value in result|to_array %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}