{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">

                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{{ path('verify') }}" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User Name" id="username" name="_username" type="text" value="{{ last_username }}" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" id="password" name="_password" type="password" value="">
                            </div>

                            <input type="hidden" name="_target_path" value="/">

                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ include('stylesheets.html.twig') }}
{% endblock %}


{% block javascripts %}
    {{ include('javascripts.html.twig') }}
{% endblock %}